@media (max-width : 600px) {
    .blank{
        visibility: hidden;
        translate: 0 0;
    }
    .sign-section{
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        height: 80%;
    }
    .sign-section div{
        width: 70%;
        height: 90%;
        border-radius: 30px;
    }
    .sign-up{
        position: absolute;
        translate: 0 110%;
        z-index: 1;
    }
    .abdo{
        background: red;
        position: absolute;
        display: none;
    }
}